.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.navbar-sort {
    margin-left: 20px;
    padding: 8px;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.flight-list {
    justify-content: center;
    height: 100vh;
    display: grid;
    grid-gap: 20px;
}

.flight-card {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    height: 30rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.route {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.price {
    color: #ff5722;
    font-size: 16px;
}

.stops {
    font-size: 14px;
    color: #666;
}

.layover {
    margin-top: 10px;
    border-top: 1px dashed #ccc;
    padding-top: 10px;
}

.layover p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.flight-card:last-child {
    margin-bottom: 0;
}

.button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 700px;
    padding: 1.5rem;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.filter-container label {
    font-size: 18px;
    margin-bottom: 8px;
}

.flight-list {
    display: grid;
    grid-gap: 20px;
}

@media screen and (min-width: 768px) {
    .flight-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .flight-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.no-flights {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
